.avatar2{background: #eee url(https://dcassetcdn.com/common/images/v3/no-profile-pic-tiny.png);}

.avatar2{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

